<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
    <!-- <link rel="stylesheet" type="text/css" href="../lib/h-ui/css/H-ui.css" /> -->
    <!--[if lt IE 9]>
<link href="static/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
    <link rel="stylesheet" href="../../lib/h-ui/css/H-ui.css">
    <link rel="stylesheet" type="text/css" href="/template/lib/h-ui/lib/Hui-iconfont/1.0.8/iconfont.min.css" />
    <link rel="stylesheet" href="/template/lib/layer/theme/default/layer.css">
    <link rel="stylesheet" href="/template/lib/jstree/themes/default/style.min.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <style type="text/css">

    </style>
    <title></title>
    <meta name="keywords" content="智微信科">
    <meta name="description" content="智微知库">
</head>
<body>

    <div class='login-box'> 
        <div class="login-wrap">
            <p class='tc mb-20 f20 c-white'>智微知库</p>
            <div class='username input-box mc mb-10'>
             <input type='text' placeholder="用户名" class='radius input-text'/>
            </div>
            <div class='psword input-box mc mb-10'>
             <input tyep='passwosrd' placeholder="密码" class='input-text radius'/>
            </div>
            <div class='login-btn tc mt-20'>
                 <input class="btn  btn-success radius" type="button" value="&nbsp;&nbsp;登录&nbsp;&nbsp;">
            </div>
             
        </div>    
    </div>


<script type="text/javascript " src="/template/lib/h-ui/lib/jquery/1.9.1/jquery.min.js "></script>
<script type="text/javascript " src="/template/lib/h-ui/js/H-ui.js "></script>
<script type='text/javascript' src='/template/lib/jstree/jstree.min.js'></script>
<script type='text/javascript' src='/template/lib/h-ui/lib/layer/2.4/layer.js'></script>
<script type='text/javascript' src='/template/static/js/index.js'></script>
</body>
</html>