.header{
	background: #4688f1;
	height:50px;
	span{
		line-height: 50px;
		color:#fff;
		margin-left:40px;
		font-size:20px;
	}
}
.wrapper{
	margin-left:60px;
	.sidebars{
		padding:20px;
		border:1px solid #ccc;
		border-top:none;
		height:600px;
		min-width:280px;
		// height: 200px;
		overflow-y:auto;
	}
	.contents{
		padding:20px;
	}
}
// .box{
// 	border:1px solid red;
// 	width:40px;
// 	height:40px;
// 	background: red;
// 	.btn{
// 		background: blue;
// 	}
// }